/* Error: Undefined variable.
 *    ,
 * 55 |             z-index: vars.$z-dice3d-overlay + 1;     /* Above the overlay *∕
 *    |                      ^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss\includes\style-dice3d.scss 55:13  @use
 *   scss\main.scss 34:1                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 55 \2502              z-index: vars.$z-dice3d-overlay + 1;     /* Above the overlay */\a    \2502                       ^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\includes\\style-dice3d.scss 55:13  @use\a   scss\\main.scss 34:1                    root stylesheet";
}
